body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:white;
}

header {
    background:#007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    margin-top: 20px;
}

#input-section {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 15px;
    background-color:#007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #95807A;
}

#results {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
